

.lpf-tooltip ol,
.lpf-tooltip ul {
    margin:0;
}
.lpf-tooltip {
    position: relative;
    display: inline-block;
}

/* The "?" icon */
.lpf-tooltip-trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #808080;
    color: #f6f6f6;
    height: 1.2em;
    width: 1.2em;
    font-weight: bold;
    font-size: 0.75em;
    border-radius: 50%;
    cursor: help;
    margin: 0 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}

.lpf-tooltip:hover .lpf-tooltip-trigger,
.lpf-tooltip:focus-within .lpf-tooltip-trigger {
    background-color: #3e6647;
}


/* Tooltip box */
.lpf-tooltip-txt {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    background-color:#fff;
    font-size: 0.85em;
    padding: 0.75em 2em;
    min-width: 140px;
    max-width: 300px;
    width: max-content;
    border-radius: 0.4em;
    border: 1px solid #f6f6f6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    font-weight: normal;
}

.lpf-tooltip-txt li {
    padding-left:1em;
}

/* Tooltip arrow */
.lpf-tooltip-txt::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff);
    filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
}

/* Show on hover or focus */
.lpf-tooltip:hover .lpf-tooltip-txt,
.lpf-tooltip:focus-within .lpf-tooltip-txt {
    opacity: 1;
    pointer-events: auto;
}


#luma-product-fields-list .lpf-product-meta {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em;
  margin-top:0;
  margin-bottom:.3em;
  
}
.lpf-product-meta dt {
    font-weight:bold;
}

.lpf-product-meta dd {
  font-weight:normal;
  margin: 0;
}



